<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fourth.sproject.admin.AdminMapper">
	<select id="getMember"
	parameterType="com.fourth.sproject.admin.memberSelector"
	resultType="com.fourth.sproject.member.Member">
	<!-- 
		1. 최종적으로 화면에 보여줄 것은 게시글 번호, 제목, 작성자, 작성일, 조회수
	-->
		select rownum as rn, p_user, p_name, p_grade, p_birthday
		from (
			select *
			from (
				select rownum as rn, p_user, p_name, p_grade, p_birthday
				from (
					select * from project_user
					where p_user like '%'||#{search}||'%' or p_name like '%'||#{search}||'%'
					order by p_birthday desc
				)
			)
			where rn &gt;= #{start} and rn &lt;= #{end}
		)
		order by p_birthday desc
		
	</select>


	<select id="getMemberCount" 
		parameterType="com.fourth.sproject.admin.memberSelector"
		resultType="java.lang.Integer">
		select count(*) 
		from project_user
		where p_user like '%'||#{search}||'%' or p_name like '%'||#{search}||'%'
	</select>

	<select id="getPostCountByName"
		parameterType="com.fourth.sproject.member.Member"
		resultType="java.lang.Integer">
		select count(*) 
		from project_user
		where p_user like '%'||#{search}||'%' or p_name like '%'||#{search}||'%'
	</select>
	<!-- 
	<insert id="writeMovie" parameterType="com.fourth.sproject.board.Post">
		insert into project_movie(pb_no, pb_title, pb_content, pb_writer)
		values(pmrc_board_seq.nextval, #{pb_title}, #{pb_content}, #{pb_writer})
	</insert>
	
	 
	<delete id="deleteMovie" parameterType="com.fourth.sproject.board.Post" >
	delete from pmrc_board where pb_no = #{pb_no}
	</delete>
	
	<update id="update" parameterType="com.fourth.sproject.board.Post">
	update pmrc_board set pb_title = #{pb_title}, pb_content= #{pb_content} where pb_no = #{pb_no}
	</update>
	
	<insert id="writeReply" parameterType="com.fourth.sproject.board.PostReply">
		insert into pmrc_sns_reply
		values(pmrc_sns_reply_seq.nextval, #{psr_ps_no}, #{psr_writer}, #{psr_txt}, sysdate, #{psr_file})
	</insert>
	
	<select id="getPostReplyH" parameterType="com.fourth.sproject.board.PostDetailH" resultType="com.fourth.sproject.board.PostReply">
		select * from pmrc_sns_reply where psr_ps_no like '%'||#{pb_no}||'%' order by psr_date
	</select>
	 -->
	
</mapper>