@charset "UTF-8";
body{
	margin: 0;
}

.findInnerBox{
	background-color: gray;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}
.findOuterBox{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: gray;
	width: 100%;
}
.w-btn-outline {
    position: relative;
    margin: 20px;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}
.w-btn-gray-outline {
    border: 3px solid #a3a1a1;
    color: #6e6e6e;
}
.w-btn-gray-outline:hover {
    background-color: #a3a1a1;
    color: #e3dede;
}
.w-btn-outline:hover {
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
}
.w-btn-outline:active {
    transform: scale(1.5);
}
#findIdForm{
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-size: 20px;
}
#goHomeLinkFind a{
	color: #fff;
	font-size: 30px;
	text-decoration: none;
	font-weight: bold;
}
#findIdBtnBox1 {
	display: flex;
	justify-content: center;
	align-items: center;
}
#findIdBtnBox2 {
	display: flex;
	justify-content: center;
	align-items: center;
}


