@charset "UTF-8";

@font-face {
    font-family: 'KBO-Dia-Gothic_bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'EF_watermelonSalad';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_watermelonSalad.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
     font-family: 'S-CoreDream-3Light';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
body, html {
	font-family:'S-CoreDream-3Light';
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;	
}

#outerArea{
	display: flex;
	flex-direction: column;	
	/* background-color:black; */
	height: 100%;
	width: 100%;
}

#imageArea{
	height: 30%;
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: #252828;
}

#siteTitleArea{
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
}
#siteMenuArea{
	width: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#siteTitleArea2{
	width: 70%;
}

#siteTitleArea3{
}
#siteContentArea{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	position:relative;
	margin: 0 auto;
	width: 100%;
	height: 1200px;
	background-color: black;
}
#titleHomeLink{
	position:relative;
	font-size: 50px;
	font-weight: bold;
	color: #fff;
	left: 50px;
}
#menuIcon{
	width: 30px;
	height: 30px;
	position: relative;
	left: 50px;
}
#menuIcon:hover{
	cursor: pointer;
}

#slide{
	margin: 0 auto;
	width: 50%;
}

#memberInfoTbl{
	margin: 0;
	width: 500px;
	border-spacing: 0;
	border-collapse:collapse;
	border-radius:10px;
	border-style:hidden;
	background-color: #6E6E6E90;
	padding: 10px;
	font-size: 12px;
	font-weight: 600;
	height: 100%;
}
#infoBox{
	display: flex;
	justify-content: center;
	align-items: center;
}


#welcomeBtnBox{
	padding-top:5px;
	display: flex;
}
ul {
	list-style: none;
}

.nav li {
	list-style: none;
	float: left;
}
li {
	list-style: none;
}
a{
	text-decoration: none;
}

.profileImg{
	width: 20px;
	height: 20px;
}

.memberBtn {
	color: #F9A825;
}
.memberTd {
	color: #F9A825;
}
.container {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  position: relative;
}

.nav {
  width: 100%;
  overflow: hidden;
  padding: 0;
}

.loginMberTxt{
	color: #fff;
	font-weight: bold;
}

.infoTxt{
	color: black;
}

.nav>li {
  width: 100%;
}

.nav>li>a {
  display: block;
  width: 100%;
  text-align: center;
  line-height: 3.4;
  color: #fcfcfc;
  font-size: 15px;
}





.sub {
  width: 100%;
  /* margin: 0 auto; */
  position: absolute;
  top: 50px;
  left:0;
  z-index: 1;
  display: none;
}

ul .sub{
	padding: 0;
	background-color: rgba(255,255,255,0.3);
	box-shadow:  0em 0 .9em rgba(255,255,255,0.3);
}

.sub>li {
  width : 10%;
  height: 50px;
  color: #fff;
  
}

.sub>li:last-child {
  border: 0;
}

.sub>li>a:hover {
  background-color: #6E6E6E90;
  color: #fff;
}

.sub>li>a {
  display: block;
  width: 100%;
  text-align: center;
  line-height: 3.4;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
}




/* slider */
.slider__wrap {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.slider__img {
	/* 이미지 보이는 영역 */
	position: relative;
	width: 800px;
	height: 450px;
	overflow: hidden;
}

.slider__inner {
	/* 이미지를 감싸고 있는 부모 : 움직이는 부분 */
	display: flex;
	flex-wrap: wrap;
	/* width: 8800px; --> js로 이미지 추가되도 전체넓이 가변되게끔! */
	/* 4000px --> 4800px  : 총이미지가 6개로 변경*/
	height: 450px;
	position: relative;
}

.slider {
	/* 개별적인 이미지 */
	position: relative;
	width: 800px;
	height: 450px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.slider::before {
	position: absolute;
	left: 5px;
	top: 5px;
	background: rgba(0, 0, 0, 0.4);
	color: white;
	padding: 5px 10px;
}

.slider:nth-child(1)::before {
	content: "이미지1";
}

.slider:nth-child(2)::before {
	content: "이미지2";
}

.slider:nth-child(3)::before {
	content: "이미지3";
}

.slider:nth-child(4)::before {
	content: "이미지4";
}

.slider:nth-child(5)::before {
	content: "이미지5";
}

.slider:nth-child(6)::before {
	content: "이미지6";
}
.slider:nth-child(7)::before {
	content: "이미지7";
}
.slider:nth-child(8)::before {
	content: "이미지8";
}
.slider:nth-child(9)::before {
	content: "이미지9";
}

@media (max-width: 800px) {
	.slider__img {
		width: 400px;
		height: 225px;
	}
}

.slider__btn {}
.slider__btn a {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 50px;
	height: 50px;
	background: rgba(0,0,0,0.4);
	border-radius: 10px;
	text-align: center;
	transition: all 0.2s;
	line-height: 48px;
	display: block;
	font-size: 0.9rem;
	color: rgba(255,255,255,1);
	opacity: 0.7;
}
.slider__btn a.prev {
	left: 350px;
}
.slider__btn a.next {
	right: 350px;
}
.slider__btn a:hover{
	/* text-shadow: -1px 0 #8545f3, 0 1px #9359f7, 1px 0 #8545f3, 0 -1px #413be1; */
	border: 1px solid rgba(187, 127, 255, 0.6);
	box-shadow: inset 0px 0px 5px aquamarine;
	opacity: 1;
	transition: opacity 0.5s ease;
}


.btnStyle1{
	background:#fff;
  	color:black;
  	border:none;
  	position:relative;
  	height:30px;
 	font-size:15px;
 	cursor:pointer;
 	transition:800ms ease all;
 	outline:none;
 	border-radius: 5px;
}
.btnStyle1:hover{
	background:black;
  	color:#fff;
}
.btnStyle1:before, .btnStyle1:after{
	content:'';
  	position:absolute;
  	top:0;
  	right:0;
  	height:2px;
  	width:0;
 	background: #2E2E2E;
  	transition:400ms ease all;
}

.btnStyle1:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.btnStyle1:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}


